<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 매퍼 연결 -->
<mapper namespace="com.algore.application.notice.dao.NoticeMapper">
    <resultMap id="noticeDTOAll" type="com.algore.application.notice.dto.NoticeDTO">
        <id property="nNum" column="N_NUM"/>
        <result property="nTitle" column="N_TITLE"/>
        <result property="nDetail" column="N_DETAIL"/>
        <result property="nDate" column="N_DATE"/>
        <result property="nStatus" column="N_STATUS"/>
        <result property="nModiDate" column="N_MODI_DATE"/>
    </resultMap>
    <select id="noticeMainPage" resultMap="noticeDTOAll">
        SELECT
            N_NUM,
            N_TITLE,
            N_DETAIL,
            N_DATE,
            N_STATUS,
            N_MODI_DATE
        FROM NOTIFICATION
    </select>
</mapper>